/* /* font-family: 'Alegreya', serif;
font-family: 'Almendra', serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(14, 38, 65);
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.title {
    grid-row-start: 1;
    text-align: center;
    font-family: 'Almendra', serif;
    font-size: 6rem;
    color: rgb(98, 197, 164);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.character {
    grid-column-start: 1;
    grid-row-start: 2;
    justify-self: center;
    align-self: start;
}

.alignment {
    grid-column-start: 1;
    grid-row-start: 2;
    justify-self: center;
    align-self: center;
}

.character-alignment {
    grid-row-start: 2;
    grid-column-start: 1;
    font-family: 'Alegreya', serif;
    font-size: 2rem;
    text-align: center;
    color: rgb(98, 197, 164);
    justify-content: center;
    margin-top: 100px;
}

.alignment-buttons{
    display: flex;
    justify-content: center;
    align-self: center;
}

.alignment-buttons button {
    font-family: 'Alegreya', serif;
    font-size: 3rem;
    text-align: center;
    background-color: rgb(14, 38, 65);
    border: solid;
    border-radius: 10px;
    margin: 10px;
    color: rgb(98, 197, 164);
    text-align: center;
    padding: 2%;
    cursor: pointer;
}

.alignment-buttons button:hover {
    color: rgb(212, 212, 212);
}

#character-name-input {
    font-family: 'Alegreya', serif;
    font-size: 3rem;
    background-color: rgb(14, 38, 65);
    border: none;
    outline: none;
    color: rgb(98, 197, 164);
    text-align: center;
}

.character-name {
    display: none;
    grid-row-start: 1;
    justify-self: center;
    align-self: center;
    text-align: center;
    color:rgb(212, 212, 212);
    font-family: 'Alegreya', serif;
    font-size: 4rem;
    margin-bottom: 10%;
}

.character-stats {
    grid-column-start: 1;
    grid-row-start: 2;
    justify-self: left;
    align-self: center;
    margin-left: 100px;
    color: rgb(98, 197, 164);
    
}

.character-stats p {
    font-family: 'Alegreya', serif;
    font-size: 1.1rem;
    padding-right: 20px;
    color: rgb(212, 212, 212);
}

.footer {
    font-family: 'Alegreya', serif;
    text-align: center;
    color: rgb(212, 212, 212);
}

.character-armor,
.character-health,
.character-strength,
.character-dexterity,
.character-constitution,
.character-wisdom,
.character-intelligence,
.character-charisma,
.character-alignment,
.evil-alignment,
.neutral-alignment,
.good-alignment {
    display: none;
}